<div *ngIf="user">
    <h1>This is {{user.username}}</h1>

<div class="artist-wrapper">

<div class="img-wrapper">
<img [src]="user.profilepic" width=100 height=200/>
</div>
<div class="text-wrapper">
    <p> {{ user.bio}}</p>
    <p> For inquiries <b>{{user.email}} or {{user.phone}}</b></p>
</div>
</div>   

<div class="worktext"><p>ALL THE WORKS</p></div>

<div class="clr-row clr-justify-content-around" *ngIf="user.works" >
    <div *ngFor="let work of user.works" class="col-lg-4 col-md- col-sm-6 col-xs-6 ">
            <a  class="card clickable" >
                <div class="card-img img-wrapper" >
                
                    <img [src]="work.image" width=100 height=200/>
                </div>
                <div class="card-block blwrapper">
                
                        <ul class="datalist card-text">
                            <li> {{ work.style }} </li>
                            <li> {{ work.type}}</li>
                            <li> {{ work.description}}</li>
                        </ul>
                            
                    
                </div>
            </a>
    </div>
    