


<header class="header-6" *ngIf="sessionService.user">
    <div class="branding">
        <a class="nav-link">
       
            <span class="title" [routerLink]="['/workslist']">Street Art |   Welcome {{ sessionService.user.username }}! </span>
        </a>
    </div>
    <div class="header-nav">
        <a class="active nav-link" [routerLink]="['/artists']"><span class="nav-text">Artists</span></a>
        <a class=" active nav-link" [routerLink]="['/profile']"><span class="nav-text">My profile</span></a>
        <a class="active nav-link" [routerLink]="['/workslist']" ><span class="nav-text">Works</span></a>
        <a *ngIf="sessionService.user.artist" class="active nav-link" [routerLink]="['/works']"><span class="nav-text">Add a masterpiece</span></a>
        
    </div>
    
    <div class="header-actions">
        <a *ngIf="sessionService.user" [routerLink]="['/login']" (click)="logout()" href="..." class="nav-link nav-icon">
          Logout
            
        </a>
    </div>
</header>

<router-outlet></router-outlet>