


<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            StreetArt
            <h5 class="hint">Login to enjoy the full features</h5>
        </section>
        <div class="login-group">
            <div class="auth-source select">
            <h2> Login </h2>   
            </div>
            <label> Username</label>
            <input class="username" [(ngModel)]="username" name="username" type="text" id="login_username" placeholder="Username">
            <label> Password</label>
            <input class="password" [(ngModel)]="password" type="password" name="password" id="login_password" placeholder="Password" >
            <!-- <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div> -->
            <a [routerLink]="['']">Not a member? Signup here</a>
            <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
           
        </div>
    </form>
  <p class="error"> {{ error }} </p>
</div>

