<h4> Edit your profile </h4>
<a [routerLink]="['/profile']">Back to profile</a>

<div class="form-container">
<form clrForm class="editform" *ngIf="user">
  <label>UserName</label>
  <input type="text" [(ngModel)]="updates.username" name="name"  required />

  <label>Email</label>
  <input type="text" [(ngModel)]="updates.email" name="email"  required />

  <label>Name</label>
  <input type="text" [(ngModel)]="updates.name" name="name"  required />


  <label>Phone number</label>
  <input type="text" [(ngModel)]="updates.phone" name="phone"  />

  <label>Profile Picture</label>
  <input type="file" [(ngModel)]="file" name="file" ng2FileSelect [uploader]="uploader" />

  <label>Bio</label>
  <textarea clrTextarea [(ngModel)]="updates.bio" name="description" required></textarea>

  
  <button (click)="edit()"> Edit </button>
  
  </form>

</div>   