<h4> Edit your profile </h4>
<a [routerLink]="['/profile']">Back to profile</a>

<form  *ngIf="user">
  <label>Name</label>
  <input type="text" [(ngModel)]="user.name" name="name" autocomplete='name' required />

  <label>Email</label>
  <input type="text" [(ngModel)]="user.email" name="email" autocomplete='email' required />

  <label>Phone number</label>
  <input type="text" [(ngModel)]="user.phone" name="phone" autocomplete='phone' />

  <label>Profile Picture</label>
  <input type="text" [(ngModel)]="user.profilepic" name="profilepic" autocomplete='profilepic' required/>

  <label>Bio</label>
  <input type="text" [(ngModel)]="user.bio" name="bio" autocomplete='bio' />

  
  <button (click)="edit(user._id)"> Edit </button>
  
  </form>

    