<h4> Edit your profile </h4>
<a [routerLink]="['/profile']">Back to profile</a>

<div class="form-container">
<form clrForm class="editform" *ngIf="user">
  <label>Name</label>
  <input type="text" [(ngModel)]="user.name" name="name"  required />

  <label>Email</label>
  <input type="text" [(ngModel)]="user.email" name="email"  required />

  <label>Phone number</label>
  <input type="text" [(ngModel)]="user.phone" name="phone"  />

  <label>Profile Picture</label>
  <input type="text" [(ngModel)]="user.profilepic" name="profilepic"  required/>

  <label>Bio</label>
  <textarea clrTextarea [(ngModel)]="description" name="description" required></textarea>

  
  <button (click)="edit(user._id)"> Edit </button>
  
  </form>

</div>   