



 

  <div class="row" >
      <div *ngFor="let artist of artists" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-header">
                   {{ artist.name }} 
              </div>
              <div class="card-block">
                  <div class="card-media-block">
                      
                      <img [src]="artist.profilepic" width=100 class="card-media-image">
                      <div class="card-media-description">
                          <span class="card-media-title">
                              {{ artist.username}}
                          </span>
                          <span class="card-media-text">
                              Owner: John Doe
                          </span>
                      </div>
                  </div>
                  <div class="card-text">
                      ...
                  </div>
              </div>
              <div class="card-footer">
                  <button [routerLink]="['/artists',artist._id]" class="btn btn-sm btn-link">More info</button>
              </div>
          </div>
      </div>