


<div class="clr-row clr-justify-content-around" *ngIf="works">
<div *ngFor="let work of works" class="col-lg-4 col-md- col-sm-6 col-xs-6 ">
        <a  class="card clickable" [routerLink]="['/artists',work.userid]">
            <div class="card-img img-wrapper" >
                {{work.userid }}
                <img [src]="work.image" width=100 height=200/>
            </div>
            <div class="card-block blwrapper">
            
                    <ul class="datalist card-text">
                        <li> {{ work.style }} </li>
                        <li> {{ work.type}}</li>
                    </ul>
                        
                
            </div>
        </a>
</div>
</div>