<h1> Add a masterpiece </h1>


<form>
  <select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}"> 
    <option *ngFor="let c of typeworks" [ngValue]="c">{{c.name}}</option>
  </select>

    <label>Style</label>
    <input type="text" [(ngModel)]="newWork.style" name="style" required />

    <label>Description</label>
    <input type="text" [(ngModel)]="newWork.description" name="description" />

    <label>Price</label>
    <input type="text" [(ngModel)]="newWork.price" name="price" required />

    <label>Image</label>
    <input type="text" [(ngModel)]="newWork.image" name="image" />

    

    


  <button (click)="submit()"> Guardar </button>
</form>

